AI Study Assistant.json
{
  "name": "AI Study Assistant",
  "nodes": [
    {
      "parameters": {},
      "id": "ecba674b-3256-47d4-ada9-16f84fcb5e27",
      "name": "Upload PDF",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "id": "22bbbd53-989d-459f-8e5c-0c3f425a2adb",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this educational content and create comprehensive study materials:\n\n{{ $json.data }}\n\nGenerate:\n1. A concise summary (2-3 paragraphs)\n2. At least 5 flashcards with clear questions and answers\n3. At least 5 practice questions with varying difficulty levels (easy, medium, hard)",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert educational assistant. Create high-quality study materials that help students learn effectively. For flashcards, focus on key concepts and definitions. For questions, create thought-provoking questions that test understanding at different levels."
        }
      },
      "id": "bcc42879-b6d3-4379-b7cc-290ae46fb02c",
      "name": "Generate Study Materials",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "2cfc3c57-f316-4617-8b4b-ef9fa6e69714",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        528
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "summary": "Brief summary of the document",
          "flashcards": [
            {
              "question": "What is...?",
              "answer": "The answer is..."
            }
          ],
          "questions": [
            {
              "question": "Explain the concept of...",
              "difficulty": "medium"
            }
          ]
        }
      },
      "id": "249c905a-5a80-4b16-8732-c5eaea165a07",
      "name": "Study Materials Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        528
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "study-materials"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "summary": "={{ $json.output.summary }}",
            "flashcards": "={{ $json.output.flashcards }}",
            "questions": "={{ $json.output.questions }}",
            "created_at": "={{ $now.toISO() }}"
          },
          "schema": [
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "flashcards",
              "displayName": "flashcards",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "questions",
              "displayName": "questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0b0740de-5ac3-4bab-99d9-006db77d1979",
      "name": "Save Study Materials",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1040,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Upload PDF": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Generate Study Materials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Study Materials": {
      "main": [
        [
          {
            "node": "Save Study Materials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Study Materials",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Study Materials Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Study Materials",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6f5514e2-604d-4730-993b-1d0520d93b3e",
  "meta": {
    "instanceId": "341114744a100b8537e697a74159fa7bb52a7b69030f9fe6fbfb9ec6cf602ff5"
  },
  "nodeGroups": [],
  "id": "QWIsyOtzoVfxNuXH",
  "tags": []
}