LinkedIn Content Generator.json
{
  "name": "LinkedIn Content Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "d9a7a4d0-df21-45ad-a83a-0fbc87b59c28",
      "name": "When clicking Test workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a professional and engaging LinkedIn post about: {{ $json.topic }}\n\nRequirements:\n- Write a compelling hook in the first 2 lines\n- Provide valuable insights or tips (3-5 key points)\n- Use short paragraphs for readability\n- Include a clear call-to-action at the end\n- Keep it between 150-250 words\n- Professional yet conversational tone\n- Generate 5 relevant hashtags",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert LinkedIn content creator. Your purpose is to generate engaging, professional posts that drive engagement and provide value. You must return structured output with postContent and hashtags fields as specified by the output parser."
        }
      },
      "id": "559e3d89-4b87-497d-9681-915d89140b8a",
      "name": "Generate LinkedIn Post",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "12b73c62-cb2a-4a2b-a4ec-4582df9fad6a",
      "name": "OpenAI GPT-5 Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        480,
        528
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "postContent": "Complete LinkedIn post text with engaging hook, valuable content, and call-to-action",
          "hashtags": [
            "#AI",
            "#Technology",
            "#Innovation",
            "#Business",
            "#LinkedIn"
          ]
        }
      },
      "id": "ca97f404-261b-4b77-82f0-844879eff2f4",
      "name": "LinkedIn Post Structure",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        528
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "text",
              "value": "={{ $json.output.postContent }}\n\n{{ $json.output.hashtags.join(\" \") }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "visibility",
              "value": "PUBLIC",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "76e6aabb-5d1d-460b-a76b-86272118b115",
      "name": "Format for LinkedIn",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        304
      ]
    },
    {
      "parameters": {
        "person": "<__PLACEHOLDER_VALUE__Select your LinkedIn profile__>",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "visibility": "={{ $json.visibility }}"
        }
      },
      "id": "c74183ff-78df-465b-a3f7-2468c26a64b4",
      "name": "Publish to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1040,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking Test workflow": {
      "main": [
        [
          {
            "node": "Generate LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LinkedIn Post": {
      "main": [
        [
          {
            "node": "Format for LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-5 Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate LinkedIn Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post Structure": {
      "ai_outputParser": [
        [
          {
            "node": "Generate LinkedIn Post",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format for LinkedIn": {
      "main": [
        [
          {
            "node": "Publish to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d509c5e6-8ee7-486b-96db-3a451ac30de0",
  "meta": {
    "instanceId": "341114744a100b8537e697a74159fa7bb52a7b69030f9fe6fbfb9ec6cf602ff5"
  },
  "nodeGroups": [],
  "id": "Lcsr7NWDXYNHNL81",
  "tags": []
}