Price Monitor - Web Scraping + Telegram.json
{
  "name": "Price Monitor - Web Scraping + Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "95695468-cd96-454c-80f3-4544dc84ce4c",
      "name": "Check Prices Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "products",
              "type": "array",
              "value": "={{ [{ \"name\": \"Product 1\", \"url\": \"https://www.amazon.com.br/dp/EXAMPLE1\", \"store\": \"Amazon\" },{ \"name\": \"Product 2\", \"url\": \"https://www.mercadolivre.com.br/EXAMPLE2\", \"store\": \"Mercado Livre\" },{ \"name\": \"Product 3\", \"url\": \"https://www.kabum.com.br/produto/EXAMPLE3\", \"store\": \"Kabum\" }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd75d5ce-2bb9-45b1-a282-5e0b1e5b14e1",
      "name": "Define Products to Monitor",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.products.map(product => ({ json: product }));"
      },
      "id": "4ec59340-a832-41a7-8b7a-beaa2ac4e551",
      "name": "Split Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "60f2b1c7-1734-4e21-99f4-bbae38589914",
      "name": "Fetch Product Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract price based on store\nconst html = $input.item.json.data;\nconst store = $input.item.json.store;\nlet price = null;\n\n// Simple regex patterns for each store (customize based on actual HTML structure)\nif (store === 'Amazon') {\n  const match = html.match(/R\\$\\s*([\\d.,]+)/);\n  price = match ? match[1].replace('.', '').replace(',', '.') : null;\n} else if (store === 'Mercado Livre') {\n  const match = html.match(/R\\$\\s*([\\d.,]+)/);\n  price = match ? match[1].replace('.', '').replace(',', '.') : null;\n} else if (store === 'Kabum') {\n  const match = html.match(/R\\$\\s*([\\d.,]+)/);\n  price = match ? match[1].replace('.', '').replace(',', '.') : null;\n}\n\nreturn {\n  json: {\n    name: $input.item.json.name,\n    url: $input.item.json.url,\n    store: $input.item.json.store,\n    currentPrice: price ? parseFloat(price) : null,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "c5a4da93-5b4e-45fb-be43-8bc6c00cb8de",
      "name": "Extract Price",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        400
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "url",
              "keyValue": "={{ $json.url }}"
            }
          ]
        },
        "limit": 1,
        "orderBy": true
      },
      "id": "1433467d-492e-414c-90c8-d4c17df5f63b",
      "name": "Get Previous Price",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1360,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const current = $('Extract Price').item.json;\nconst previous = $input.item.json;\n\n// If no previous price exists, this is a new product\nif (!previous || !previous.price) {\n  return {\n    json: {\n      ...current,\n      previousPrice: null,\n      priceChange: null,\n      percentageChange: null,\n      isPromotion: false,\n      isNewProduct: true\n    }\n  };\n}\n\nconst priceChange = current.currentPrice - previous.price;\nconst percentageChange = ((priceChange / previous.price) * 100).toFixed(2);\n\n// Consider it a promotion if price dropped by 10% or more\nconst isPromotion = percentageChange <= -10;\n\nreturn {\n  json: {\n    ...current,\n    previousPrice: previous.price,\n    priceChange: priceChange.toFixed(2),\n    percentageChange: parseFloat(percentageChange),\n    isPromotion: isPromotion,\n    isNewProduct: false\n  }\n};"
      },
      "id": "44a128b5-f206-4a87-b62f-a7a03e90cf20",
      "name": "Detect Promotion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        400
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "url",
              "keyValue": "={{ $json.url }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}",
            "name": "={{ $json.name }}",
            "store": "={{ $json.store }}",
            "price": "={{ $json.currentPrice }}"
          }
        },
        "options": {}
      },
      "id": "1d6cacc7-03a9-4de4-928a-5722ef34bfe5",
      "name": "Save Current Price",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1808,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $('Detect Promotion').item.json.isPromotion }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "leftValue": "={{ $('Detect Promotion').item.json.isNewProduct }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "9a57c72e-f82d-4b07-bbc0-d4c3973755e1",
      "name": "Filter Promotions",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2032,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "message",
              "type": "string",
              "value": "={{ $json.isNewProduct ? \"🆕 Novo Produto Monitorado\\n\\n\" + \"📦 \" + $json.name + \"\\n\" + \"🏪 Loja: \" + $json.store + \"\\n\" + \"💰 Preço: R$ \" + $json.currentPrice.toFixed(2) + \"\\n\" + \"🔗 \" + $json.url : \"🔥 PROMOÇÃO DETECTADA!\\n\\n\" + \"📦 \" + $json.name + \"\\n\" + \"🏪 Loja: \" + $json.store + \"\\n\" + \"💰 Preço Atual: R$ \" + $json.currentPrice.toFixed(2) + \"\\n\" + \"💸 Preço Anterior: R$ \" + $json.previousPrice.toFixed(2) + \"\\n\" + \"📉 Desconto: \" + Math.abs($json.percentageChange).toFixed(2) + \"%\\n\" + \"🔗 \" + $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "914fa167-07b7-4544-94d5-66c7800db791",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "<__PLACEHOLDER_VALUE__Your Telegram Chat ID (ask @get_id_bot)__>",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        }
      },
      "id": "f4577096-9beb-4574-adc5-0a9804baeb70",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2480,
        400
      ],
      "webhookId": "14de2620-279b-4cf1-afa2-870654caed1d"
    }
  ],
  "pinData": {},
  "connections": {
    "Check Prices Every Hour": {
      "main": [
        [
          {
            "node": "Define Products to Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Products to Monitor": {
      "main": [
        [
          {
            "node": "Split Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Products": {
      "main": [
        [
          {
            "node": "Fetch Product Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product Page": {
      "main": [
        [
          {
            "node": "Extract Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Price": {
      "main": [
        [
          {
            "node": "Get Previous Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Price": {
      "main": [
        [
          {
            "node": "Detect Promotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Promotion": {
      "main": [
        [
          {
            "node": "Save Current Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Current Price": {
      "main": [
        [
          {
            "node": "Filter Promotions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Promotions": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4e6af4fe-aabf-40ef-94a5-cf267e5ea487",
  "meta": {
    "instanceId": "341114744a100b8537e697a74159fa7bb52a7b69030f9fe6fbfb9ec6cf602ff5"
  },
  "nodeGroups": [],
  "id": "3qWm7c1lhamahuTK",
  "tags": []
}